html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Poppins';
  font-size: 1.2rem;
}

.navbar {
  margin: 0;
  padding: 4% 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  padding: 0;
  align-items: center;
}

.navbar-left a {
  font-size: 1.5rem;
  margin-left: 20%;
  text-decoration: none;
  color: white;
}

.nav-btn {
  display: none;
}

.navbar-right ul li {
  padding: 0 25px;
  font-size: 1.2rem;
  display: inline;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #cccccc;
}

.navbar ul li a:hover {
  color: white;
  transition: 0.2s;
}
.navbar > #nav-check {
  display: none;
}

@media (max-width:767px) {
.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 4%;

  }

.nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 0;

    }

.navbar > .nav-btn label:hover, .navbar  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
}

        .navbar > .nav-btn > label > span {
            display: block;
            width: 25px;
            height: 7px;
            border-top: 2px solid #eee;
          }
          .navbar > .navbar-right ul {
            position: absolute;
            display: block;
            width: 100%;
            background-color: black;
            height: 0;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0;
            z-index: 1;
            padding: 0;
            margin-top: 5%;
          }
          .navbar > .navbar-right > ul > li {
            text-align: center;
            display: block;
            width: 100%;
            padding: 10px 0;
          }
          .navbar > #nav-check:not(:checked) ~ .navbar-right ul {
            height: 0;

          }

          .navbar > #nav-check:checked ~ .navbar-right ul {

          height:40%;
          width:100%;
          overflow-y: auto;

              padding: 0;
        }

          .navbar-right ul li a{
            font-size: 20px;
          }

          .navbar{
            margin: 2%;
          }

          .navbar-left img{
            width: 15%;
            margin-right: 5%;
            padding: 0;
          }
          .navbar-left a{
            font-size: 15px;
            margin: 0;
          }
        }




/* Hero Section */

.hero {
  display: block;
  text-align: center;
  padding: 3%;
  margin: 0 18%;
}

.hero-img {
  width: 20%;
  border-radius: 50%;
  filter: grayscale();
}

.hero-h2 {
  font-size: 2.5rem;
}

.hero-h1 {
  margin-top: auto;
  margin-bottom: 4.5%;
  font-size: 6.5rem;
  letter-spacing: -3px;
  line-height: 1.2;
}

.hero-p {
  font-size: 29px;
  color: #82878f;
}

button {
  background-color: black;
  color: white;
  border-color: white;
  border-width: medium;
  font-size: 19px;
  font-weight: inherit;
  padding: 32px 60px;
  border-radius: 45px;
  margin: 28px;
  cursor: pointer;
  border-style: solid;
}

button:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}

@media screen and (max-width:767px)
{
  .hero {margin: 10% 2%;}
  .hero-img
{   margin: 0;
    width: 30%;}
  .hero-h1 {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 10%;
}
.hero-h2{
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-bottom: 10%;
}
.hero-p{
  font-size: 15px;
}

button{
  font-size: 12px;
  font-weight: inherit;
  padding: 15px 25px;
}
}


/* clients section */
.clients {
  margin-top: 2%;
  margin-bottom: 4%;
  width: 100%;
  text-align: center;
}

.clients img {
  display: inline-flex;
  height: 550px;
  object-fit: cover;
}

.clients-c1 {
  width: 35%;
}

.clients-c2 {
  margin-left: 2%;
  margin-right: 2%;
  width: 25%;
}

.clients-c3 {
  width: 35%;
}

.clients2 {
  font-size: 20px;
  text-align: center;
  margin-top: 7%;
}

.clients2 ul li {
  margin-top: 2%;
  opacity: 0.8;
  color: #82878f;
  font-size: 40px;
  display: inline-flex;
  padding: 0 4%;
}

@media screen and (max-width:767px){
  .clients{
    padding: 0;
    margin: 5% auto;
  }

  .clients > img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: block;
    height: 30vh;
    width: 80%;
    object-fit: cover;
  }
  .clients2{
    margin-top: 10%;
    font-size: 15px;
  }

.clients2 > ul{
  padding: 0;
}

  .clients2 > ul > li{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

/* Services */
.service-main {
  margin-top: 11%;
  margin-bottom: 4.5%;
  font-size: 25px;
  text-align: center;
}

.service {
  font-size: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 350px;
}

.service div {
  text-align: left;
  /* height: 350px; */
  width: 400px;
  background-color: #22272e;
  padding: 30px;
}

.service div p {
  font-size: 22px;
  color: #636e7d;
}

@media screen and (max-width:767px){
  .service-main{
    margin: 10% 0 2% 0;
    font-size: 18px;
  }

  .service{
    font-size: 18px;
    display: block;
    margin: 10%;
  }

  .service img{
    width: 70px;
  }

  .service div p{
    font-size: 15px;
  }
  .service div{
    padding: 10%;
    height: 50%;
    width: 80%;
    margin: 12% 0;
  }
}

/* resume */
.resume-h {
  font-size: 60px;
  margin: 0 12.5%
}

.work-exp {
  margin: 0 12.5%;
  font-size: 25px;
  text-align: left;
  display: flex;
}

.edu {
  margin: 0 12.5%;
}

.skills {
  margin-top: 30px;
  font-size: 23px;
  margin-left: 12.5%;
  text-align: left;
}

table {
  width: 50%;
}

th, td {
  height: 55px;
}

.tools {
  margin-top: 30px;
  font-size: 23px;
  margin:0 12.5%;
  text-align: left;
  margin-bottom: 350px;
}

@media screen and (max-width:767px){
  .resume-h{
    font-size: 3rem;
  }
  .work-exp{
    font-size: 20px;
    display: block;
  }

  .work-exp h2{
    margin-top: 10%;
  }
 .work-exp h3{
   margin-top: 0;
 }

 .edu{
   margin: 20% 0 20% 0;
 }

 .skills{
    font-size: 20px;
 }

 .tools{
   font-size: 20px;
   margin-bottom: 40%;
 }

th, td{
  width: 50%;
}
}


/* Works */


.work {
  font-size: 30px;
}

.work h1{
  margin:3% 8%;
}

.work1{
  width: 100%;
  height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#workmedia{
  width: 40%;
}


.work1 h2{
  width: 100%;
}

.work1 p {
  width: 100%;
  color: #636e7d;
}



.work-content2{
  margin-top: 30%;
}


#wimg img{
  width: 100%;
}


@media screen and (max-width:767px){
  .work{
    display: block;
    font-size: 15px;
    margin: 10% 5%;
    padding: 0;
}
.work1{
  display: block;
}

#workmedia{
text-align: center;
width: 100%;
}

#workmedia > div > img{
width: 100%;
}

#wimg{
  margin-top: 10%;
}

.work-content2{
margin-top: 0%;
}

}


/* contact */

.contact {
  font-size: 25px;
  margin: 20% 25%;
  text-align: left;
  clear: left;
  clear: right;

}

.contact a {
  text-decoration-color: #000;
  font-size: 30px;
  color: #db8742;
  transition: text-decoration-color 0.5s;
  transition: color 0.5s;
}

.contact a:hover {
  text-decoration-color: #4b7be3;
  color: #4b7be3;
}

@media screen and (max-width: 767px){
  .contact{
    font-size: 10px;
    margin: 20% 10%;
  }

  .contact a{
    font-size: 13px;
  }

}

/* footer section */
hr {
  width: 60%;
  opacity: 0.5;
}

footer {
  height: 100px;
  margin: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left ul li {
  font-size: 18px;
  margin-right: 15px;
  display: inline;
  padding: 0 35px;
  color: #cccccc;
}

.footer-img a {
  color: #636e7d;
}

.footer-img a :hover {
  transition: 0.2s;
  color: white;
}

.footer-right {
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.footer-right a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
  footer{display: block;
    margin: 0;
    padding: 0;
    text-align: center;


  }

  .footer-left ul li {
    margin-right: 0;
    padding:10px 15px;
    color: #cccccc;
  }

.footer-img{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-img img{
  filter: brightness(1.5);
  text-align: center;
  width: 25px;
  padding: 10% 0;
}

.footer-right{
  justify-content: center;
}

.footer-right a {
  padding: 0 5px;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer-right img{

  padding: 0 5px;
  width: 18px;
}
}
